*.egg-info
*.mo
*.pyc
*.pyo
.installed.cfg
.mr.developer.cfg
*~
.DS_Store
.long-description.html
Products/PloneGazette/docs/_build/*
dist
bin/
develop-eggs/
include/
lib/
parts/
local/
pip-selfcheck.json
